.LichThi{
    background-size: 100% 100%;
    height: 810px;
    width: 1434px;
    position: absolute;
    left: 85px;
    top: 40px;
}    
.top-LichThi{
    font-size: 45px;
    font-weight: 600;
    margin-left: 35px;
}