.LichThiLeft{
    height: 710px;
    width: 1130px;
    position: absolute;
    left: 35px;
    top: 80px;
}
.top-LichThiLeft{
    height: 60px;
}

.top-LichThiLeft .ant-select-selector{
    border: 1px solid black !important;
    border-radius: 5px !important;
}
.top-LichThiLeft .ant-select-arrow{
    color: #FF7506 !important;
}


/* Bottom 1 hiện lịch Tuần */
.bottom1-LichThiLeft{
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    margin-top: 20px;
    height: 630px;
    border-radius: 15px;
}
.bottom1-LichThiLeft-2{
    display: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    margin-top: 20px;
    height: 630px;
    border-radius: 15px;
}
.header-bottom1-LichThiLeft{
    display: flex;
    height: 66px;
    background-color: #373839;
    border-radius: 15px 15px 0 0;
    padding-top: 20px;
    padding-left: 20px;
}
.btn-header-bottom1{
    padding-top: 1px;
    border: 1px solid white;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
    margin-right: 20px;
}
.date-header-bottom1{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: -5px;
    margin-right: 20px;
}


/*Lịch theo tháng*/
.bottom2-LichThiLeft{
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    margin-top: 20px;
    height: 630px;
    border-radius: 15px;
}
.bottom2-LichThiLeft-2{
    display: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    margin-top: 20px;
    height: 630px;
    border-radius: 15px;
}
.header-bottom2-LichThiLeft{
    display: flex;
    height: 66px;
    background-color: #373839;
    border-radius: 15px 15px 0 0;
    padding-top: 20px;
    padding-left: 20px;
}
.month-header-bottom2{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: -5px;
    margin-right: 20px;
    margin-left: 20px;
}


/* Nút chỉnh lịch theo tháng hoặc tuần */
.switch-LichTheo{
    background-color: #F0F3F6;
    height: 30px;
    width: 160px;
    position: absolute;
    top: 100px;
    left: 960px;
    border-radius: 15px;
    display: flex;
    align-items:center;
    padding-left: 10px;
}

.LichTheoTuan{
    cursor: pointer;
    background-color: #FFFFFF;
    width: 70px;
    height: 23px;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 4px 15px 2px rgba(138, 171, 201, 0.25);
    margin-right: 4px;
    transition: all 0.4s ease-out;
}
.LichTheoTuanOff{
    cursor: pointer;
    width: 70px;
    height: 23px;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    color: #373839;
    margin-right: 4px;
    transition: all 0.4s ease-out;
}
.transition-tuan{
    display: flex;
    animation: test ease-in-out 0.5s;
}
.content-bottom1{
    animation: test ease-in-out 0.5s;
}

.LichTheoThang{
    cursor: pointer;
    background-color: #FFFFFF;
    width: 70px;
    height: 23px;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 4px 15px 2px rgba(138, 171, 201, 0.25);
    transition: all 0.4s ease-out;
}
.LichTheoThangOff{
    cursor: pointer;
    width: 70px;
    height: 23px;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    color: #373839;
    transition: all 0.4s ease-out;
}
.transition-thang{
    display: flex;
    animation: test ease-in-out 0.5s;
}

.content-bottom2{
    animation: test ease-in-out 0.5s;
}

@keyframes test {
    to{
      
       opacity: 1;
    }
    from{
        
       opacity: 0.1;

    }
}