.InForLopHoc{
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    margin-left: 20px;
    height: 690px;
    width: 1325px;
    border-radius: 10px;
}

.btn-ThamGiaLopHoc{
    cursor: pointer;
    background-color: #FF7506;
    border: none;
    height: 40px;
    font-weight: 700;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    margin-left: 40%;
}

/*Css Cho Phần Header trong Infor Lớp Học */
.HeadInFor{
    display: flex;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 120px;
    border-radius: 10px 10px 0 0;
}

.avatar-HeadInFor{
    background-size: 100% 100%;
    height: 90px;
    width: 90px;
    margin-top: 1%;
    margin-left: 30px;
    border-radius: 50px;
}

.straingLine{
    background-color: #C9C4C0;
    margin-left: 30px;
    margin-top: 20px;
    width: 1px;
    height: 75px;
}

.TeacherAndSubject{
    background-color:rgb(255, 255, 255);
    color: #68696a;
    padding-top: 10px;
    height: 85px;
    width: 180px;
    margin-left: 30px;
    margin-top: 20px;
}

.TeacherAndSubject h4{
    color: #515253;
}

.MoTaAndClass{
    background-color: rgb(255, 255, 255);
    color: #68696a;
    padding-top: 10px;
    width: 870px;
    height: 85px;
    margin-left: 30px;
    margin-top: 20px;
}

.MoTaAndClass h4{
    color: #515253;
}

/*Css Cho Phần Body trong Infor Lớp Học */
.BodyInFor{
    z-index: 88;
    position: relative;
    top: 120px;
    background-color: #F0F3F6;
    width: 100%;
    height: 300px;
    padding-top: 20px;
    padding-left: 23%;
}
.lichhoc-BodyInfor{
    margin-bottom: 7px;
    color: #7b7d7e;
    line-height: 30px;
    height: 30px;
    width: 500px;
    display: flex;
}
.thoiluong-BodyInfor{
    margin-bottom: 7px;
    color: #7b7d7e;
    line-height: 30px;
    height: 30px;
    width: 500px;
    display: flex;
}
.batdau-BodyInfor{
    margin-bottom: 7px;
        color: #7b7d7e;
        line-height: 30px;
        height: 30px;
        width: 500px;
        display: flex;
}

.ketthuc-BodyInfor{
    margin-bottom: 7px;
    color: #7b7d7e;
    line-height: 30px;
    height: 30px;
    width: 500px;
    display: flex;
}

#main-sliders-buoihoc{
    width: 87%;
    height: 120px;
}

#slider{
    padding-left: 4%;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#slider::-webkit-scrollbar{
    display: none;
}

#main-sliders-buoihoc{
    position: relative;
    display: flex;
    align-items: center;
}

.slider-icon.left, .slider-icon.right{
    cursor: pointer;
    position: absolute;
    border-radius: 15px;
    opacity: 1;
}

.slider-icon .left{
    left: 0;
}

.slider-icon.right{
    right: 0;
}

.slider-card-grey{
    width: 100px;
    height: 100px;
    background: #C9C4C0 ;
    border-radius: 12px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}

.slider-card-grey .buoihoc{
    background-color: white;
    height: 25px;
    width: 77%;
    margin-left: 12px;
    margin-top: 10px;
    border-radius: 15px;
    font-weight: 700;
    color: #C9C4C0;
    text-align: center;
}

.slider-card-orange{
    width: 100px;
    height: 100px;
    background: #FF7506;
    border-radius: 12px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}
.slider-card-orange .buoihoc{
    background-color: white;
    height: 25px;
    width: 77%;
    margin-left: 12px;
    margin-top: 10px;
    border-radius: 15px;
    font-weight: 700;
    color: #FF7506;
    text-align: center;
}

.slider-card-blue{
    width: 100px;
    height: 100px;
    background: #0B80EC;
    border-radius: 12px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}
.slider-card-blue .buoihoc{
    background-color: white;
    height: 25px;
    width: 77%;
    margin-left: 12px;
    margin-top: 10px;
    border-radius: 15px;
    font-weight: 700;
    color: #0B80EC;
    text-align: center;
}

.ngayhoc{
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 5px;
}
.giohoc{
    font-size: 17px;
    font-weight: 600;
    margin-left: 4px;
    color: white;
}

/*Css Cho Phần Footer trong Infor Lớp Học */
.FooterInFor{
    margin-top: 120px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    padding-left: 23%;
    width: 100%;
    height: 220px;
}

.malop-Footerinfor{
    margin-bottom: 10px;
    color: #7b7d7e;
    line-height: 30px;
    height: 30px;
    width: 500px;
    display: flex;
}

.baomat-Footerinfor{
    margin-bottom: 10px;
    color: #7b7d7e;
    line-height: 30px;
    height: 30px;
    width: 500px;
    display: flex;
}
.inputBaoMat-Footer{
    outline: none;
    border: 2px solid #cdcdcd;
    margin-top: 3px;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    margin-left: 110px;
    padding-left: 10px;
    padding-right: 30px;
}
.iconbaomat{
    color: #FF7506;
    position: absolute;
    left: 750px;
    top: 474px;
}

.linkchise-Footerinfor{
    margin-bottom: 10px;
    color: #7b7d7e;
    line-height: 30px;
    height: 30px;
    width: 800px;
    display: flex;
}

.inputLinkShare-Footer{
    outline: none;
    border: 2px solid #cdcdcd;
    margin-top: 3px;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    margin-left: 90px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}
.btn-LinkShare{
    background-color: #FF7506;
    cursor: pointer;
    border: none;
    margin-top: 3px;
    margin-left: 20px;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-weight: 600;
    color: white;
}


.caidatkhac-Footerinfor{
    margin-bottom: 10px;
    color: #7b7d7e;
    line-height: 30px;
    height: 30px;
    width: 800px;
    display: flex;
}


