.ThamGiaLopHoc{
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 85px;
    top: 50px;
    height: 800px;
    width: 1434px;
}

/* Css cho phần danh sách học sinh tham gia vào lớp học */
.DanhSachHSThamGia{
    float: left;
    width: 200px;
    height: 100%;
    box-shadow: 4px 4px 15px 2px rgba(186, 222, 255, 0.25);
}

.titleDanhSachHs{
    background: #823B00;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.box-CacHsThamGia{
    padding-top: 10px;
    padding-left: 15px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 760px;
    overflow-y: scroll;
}
.box-CacHsThamGia::-webkit-scrollbar{
    width: 2px;
    opacity: 0.2;
}
.box-CacHsThamGia::-webkit-scrollbar-track{
    background: rgb(223, 222, 222);
    border-radius: 2px;
    opacity: 0.2;
}
.box-CacHsThamGia::-webkit-scrollbar-thumb{
    background: grey;
    opacity: 0.2;
}


.HsThamGia{
    border-radius: 2px;
    position: relative;
    width: 170px;
    height: 90px;
    margin-bottom: 15px;
    background-size: 100% 100%;
}

.Ten-HSThamGia{
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 25px;
    width: 100%;
    padding-left: 5px;
    color: white;
    font-weight: 400;
}

.Ten-HSThamGia2{
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 25px;
    width: 100%;
    padding-left: 5px;
    color: #FFA75E;
    font-weight: 700;
}

.btn-mic{
    cursor: pointer;
    float: right;
    background: none;
    color: white;
    border: none;
    font-size: 18px;
    height: 100%;
}

.btn-mic2{
    cursor: pointer;
    float: right;
    background: none;
    color: #FF7506;
    border: none;
    font-size: 18px;
    height: 100%;
}

/* Css Cho vị Trí Stream màn hình trong phòng học */
.StreamVid{
    position: relative;
    left: 200px;
    background-size: 100% 100%;
    width: 1234px;
    height: 710px;
}

.top-StreamVid{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 40px;
}

.bottom-StreamVid{
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding-left: 20px;
}

/*Css cho âm thanh*/
.sound-StreamVid{
    display: flex;
    color: rgb(255, 255, 255);
    padding-top: 4px;
    top: 5px;
    left: 20px;
    position: absolute;
    width: 250px;
    height: 30px;
}
.slide-Andt{
    height: 15px;
    width: 100px;
}

.slide-Andt .ant-slider{
    margin: 5px 6px 10px;
}
 
.slide-Andt .ant-slider-rail {
    background-color: #cb5b00 !important;
}

.slide-Andt .ant-slider-handle {
    border: none !important;
    border-radius: 50%;
    box-shadow: none !important;
    cursor: pointer;
    transition: none !important ;
}

.slide-Andt .ant-slider-track{
    background-color: white !important;
}

/* Css cho số trang trên stream*/
.slides-StreamVid{
    display: flex;
    color: rgb(255, 255, 255);
    padding-top: 4px;
    top: 5px;
    left: 480px;
    position: absolute;
    width: 140px;
    height: 30px;
}

/*Css cho phóng to thu nhỏ màn hình*/
.zoom-StreamVid{
    display: flex;
    color: rgb(255, 255, 255);  
    padding-top: 4px;
    top: 5px;
    left: 960px;
    position: absolute;
    width: 140px;
    height: 30px;
}

.sizeZoom-StreamVid{
    color: black;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    background-color: white;
    height: 20px;
    width: 40px;
    border-radius: 2px;
    margin-right: 5px;
}

/* css cho vị trí đăng xuất*/
.outclass-StreamVid{
    display: flex;
    color: rgb(255, 255, 255);  
    font-size: 22px;
    top: 1px;
    left: 1180px;
    position: absolute;
    width: 30px;
    height: 30px;
}

/* Css Cho phần icon tắt mở chức năng camera mic*/

.camera-StreamVid{
    cursor: pointer;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 620px;
    left: 490px;
    background-color: #373839;
    border-radius: 25px;
    text-align: center;
    line-height: 45px;
    padding-top: 2px;
    width: 45px;
    height: 45px;
}

.mic-StreamVid{
    cursor: pointer;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 620px;
    left: 585px;
    background-color: #373839;
    border-radius: 25px;
    text-align: center;
    line-height: 45px;
    padding-top: 2px;
    width: 45px;
    height: 45px;
}

/*Css cho phần link và chat box bên dưới*/
.LinkThamGiaLop{
    margin-left: 200px;
    height: 90px;
    width: 1234px;
}
.LinkThamGiaLop h3{
    margin-left: 30px;
}
.Link-ThamGiaLop{
    height: 30px;
    width: 400px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #F2F2F2 ;
    background-color: rgb(237, 237, 237, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
    font-size: 13px;
    font-weight: 500;
    margin-right: 10px;
}

.btn-LinkThamGia{
    cursor: pointer;
    outline: none;
    border: none;
    width: 90px;
    height: 30px;
    background-color: #FF7506;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px;
}

/*Css cho modal đắng xuất*/
.ant-modal-title{
    font-size: 27px !important;
    font-weight: 600 !important;
}
.ant-modal-footer{
    text-align: center !important;
}
.ant-btn-default{
    border-radius: 5px !important;
    width: 100px !important;
    height: 40px !important;
    background-color: rgb(221, 219, 219) !important;
    font-weight: 600 !important;
}
.ant-modal-footer .ant-btn-primary{
    border-radius: 5px !important;
    width: 100px !important;
    height: 40px !important;
    background: #FF7506 !important;
    font-weight: 600 !important;
    color: rgb(255, 255, 255) !important;
}
.ant-modal-footer .ant-btn-default{
    border: none !important;
    color: black !important;
}
.ant-modal-footer .ant-btn{
    border: none !important;
}


/*Css cho phần khun chat */
.chatBox{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    height: 620px;
    width: 370px;
    border-radius: 16px 16px 0 0;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
}    
.chatBox-2{
    display: none;
}

.openChatBox{
    display: flex;
    background-color: #d4d5d7;
    height: 50px;
    border-radius: 16px 16px 0 0;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    padding-left: 120px;
}

.Chat{
    height: 440px;
    padding-left: 20px;
    padding-top: 10px;
    overflow-y: scroll;
}
.Chat::-webkit-scrollbar{
    width: 2px;
    opacity: 0.2;
}
.Chat::-webkit-scrollbar-track{
    background: rgb(223, 222, 222);
    border-radius: 2px;
    opacity: 0.2;
}
.Chat::-webkit-scrollbar-thumb{
    background: grey;
    opacity: 0.2;
}

.Chat-Line{
    display: flex;
    color: #373839;
    margin-bottom: 5px; 
}
.StuChat-Avat{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-size: 100% 100%;
    margin-right: 5px;
}
.StuChat-Name{
    height: 20px;
    line-height: 20px;
    width: 120px;
    font-weight: 700;
    margin-right: 5px;
}
.StuChat-Chat{
    width: 180px;
    max-height: 200px;
    font-weight: 500;
}

.TeaChat-Avat{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-size: 100% 100%;
    margin-right: 5px;
}
.TeaChat-Name{
    color: #ff7300;
    height: 20px;
    line-height: 20px;
    width: 120px;
    font-weight: 700;
    margin-right: 5px;
}
.TeaChat-Chat{
    color: #ff7300;
    width: 180px;
    max-height: 200px;
    font-weight: 500;
}

.Your-Chat{
    position: relative;
    height: 130px;
    padding-top: 5px;
    padding-left: 5px;
}
.Your-Chat-Box{
    resize: none;
    border-radius: 8px;
    outline: none;
    border: 1px solid #C9C4C0;;
    width: 99%;
    height: 98%;
    padding: 10px 35px 10px 30px;
    font-size: 13px;
    font-weight: 600;
}

.Your-Chat-Box::-webkit-scrollbar{
    width: 2px;
    opacity: 0.2;
}
.Your-Chat-Box::-webkit-scrollbar-track{
    background: rgb(223, 222, 222);
    border-radius: 2px;
    opacity: 0.2;
}
.Your-Chat-Box::-webkit-scrollbar-thumb{
    background: grey;
    opacity: 0.2;
}



.chatBox-Off{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 370px;
    display: flex;
    background-color: #d4d5d7;
    height: 50px;
    border-radius: 16px 16px 0 0;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    padding-left: 120px;
}

.chatBox-Off-2{
    display: none;
}